html {
  background-color: #ccc;
}

.header {
  padding: 0.5em;
  /*border: solid grey;*/
  background-color: grey;
  color: white;
}

.my-pic {
  float: right;
  width: 20vw;
  height: 20vw;
  border-radius: 2em;
}

.top-nav ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 1.75em;
}

.top-nav:hover ul {
  display: flex;
  color: red;
}

.about-me {
  padding: 3vw;
}

.data {
  /*display: none;*/
}

#resumeData {
  float: left;
  margin: 10vw;
}

#schoolData {
  float: right;
  margin: 10vw;
  margin-top: -1.4em;
}
